#flex{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

.row1{
}

.row2{
}

.row3{
}

.row4{
}

.col{
    flex: 1;
    width: 10px;
    height: 10px;
    padding-bottom: 10px;

}

.button{
    text-align: center;
    padding: 40px;
}
